<ion-header>
  <ion-toolbar>
    <ion-title>Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="!showResult">
    <div class="progress-bar">
      <div class="progress" [style.width]="((currentIndex + 1) / questions.length * 100) + '%'"></div>
    </div>

    <div class="question-container" *ngIf="currentQuestion">
      <h2 [innerHTML]="currentQuestion.question"></h2>
      <ion-list>
        <ion-item *ngFor="let answer of shuffledAnswers"
                  [class]="getAnswerClass(answer)"
                  (click)="selectAnswer(answer)"
                  lines="none"
                  class="answer-item">
          <ion-label [innerHTML]="answer"></ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ng-container>

  <div class="result-container" *ngIf="showResult">
    <h2>Quiz terminé !</h2>
    <div class="score">
      <p>Votre score :</p>
      <h1>{{ score }}/{{ questions.length }}</h1>
    </div>
    <ion-button expand="block" (click)="restart()">
      Recommencer
    </ion-button>
    <ion-button expand="block" routerLink="/categories">
      Changer de catégorie
    </ion-button>
  </div>
</ion-content>
